About me:
Hi, I'm Daniel Phan (or Dan Phan - a guy with a rhyming name scheme). 

Professionally I am or have been:
a full stack web developer
a former systems quality analyst 
a former bioinformatician and molecular biologist

Personally I:
* am a food fan
* science, politics, and other intresting concepts or current events
* fitness goals
board games and  



What is this website? 
THis site is meant to be both a CV summary of my work and a sandbox site for me to try out a few web site development tricks.
Feel free to browse around 
If you have interest in reaching out to me for business/freelance inquiries you can go to my contact us section and reach out. 



Programming Interests

Research Interests



