<div class="container">    
    <div class="container__content">
        <h1>Contact Me</h1>
        <div>If you have inquries, feel free to reach out to me in the following ways:</div>
        <div class="container__content--bullet-item">
            <div class="circle email"><i class="material-icons md-light">mail</i></div>
            <div class="container__content--bullet-item-text">email me at djphan [at] gmail [dot] com</div>
        </div>
        <div>Reach out to me directly on one of my professional accounts at:</div>
        <div class="container__content--bullet-item">
                <div class="circle github"><img src='src/img/GitHub-Mark-Light-32px.png'/></div>
                <div class="container__content--bullet-item-text">Github</div>
        </div>
        <div class="container__content--bullet-item">
                <div class="circle email"></div>
                <div class="container__content--bullet-item-text">Linkedin</div>
        </div>
        <div class="container__content--bullet-item">
                <div class="circle email"></div>
                <div class="container__content--bullet-item-text">AngelList</div>
        </div>
    </div>
    <div class="container__content">
        <div>You can also follow my personal social medias below:</div>
        <div class="container__content--bullet-item">
                <div class="circle email"></div>
                <div class="container__content--bullet-item-text">Twitter</div>
        </div>
        <div class="container__content--bullet-item">
                <div class="circle email"></div>
                <div class="container__content--bullet-item-text">Instagram</div>
        </div>
        <div class="container__content--bullet-item">
                <div class="circle email"></div>
                <div class="container__content--bullet-item-text"></div>
        </div>
        <div class="container__content--bullet-item">
                <div class="circle email"></div>
                <div class="container__content--bullet-item-text"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container__content--footer-bottom">
        Created by Daniel Phan [c] 2018
    </div>
</div>