<div class="container">    
    <div class="container__content">
            <div class="card">
                <div class="card__header">
                        <h1>Contact Me</h1>
                </div>
                <div class="card__content">
                        <div class="card__content--text">
                                If you have inquries, feel free to reach out to me in the following ways:
                        </div>
                        <div class="card__content--bullet">
                                <div class="circle email"><i class="material-icons md-light">mail</i></div>
                                <div class="card__content--bullet-text">djphan [at] gmail [dot] com</div>
                        </div>
                        <div class="card__content--text">
                                Reach out to me directly on one of my professional accounts at:
                        </div>
                        <a href="//github.com/djphan">
                                <div class="card__content--bullet">
                                        <div class="circle github"><img src='src/img/GitHub-Mark-Light-32px.png'/></div>
                                        <div class="card__content--bullet-text">Github</div>
                                </div>
                        </a>
                        
                        <a href="//ca.linkedin.com/in/djphan">
                                <div class="card__content--bullet">
                                        <div class="circle linkedin"><img src="src/img/In-White-21px-TM.png"></div>
                                        <div class="card__content--bullet-text">Linkedin</div>
                                </div>
                        </a>
                        <a href="//angel.co/djphan?public_profile=1">
                                <div class="card__content--bullet">
                                        <div class="circle angellist"><img src="src/img/AngelList_White_Victory_Hand.png"></div>
                                        <div class="card__content--bullet-text">AngelList</div>
                                </div>
                        </a>
                </div>
            </div>
    </div>
    <div class="container__content">
        <div class="card">
                <div class="card__header">
                        <h1>Social and Sharing</h1>
                </div>
                <div class="card__content">
                        <div class="card__content--text">You can also follow my personal social medias below:</div>
                        <a href="//twitter.com/djphan91">
                                <div class="card__content--bullet">
                                        <div class="circle twitter">
                                                <img src="src/img/twitter-4-xxl.png">
                                        </div>
                                        <div class="card__content--bullet-text">Twitter</div>
                                </div>
                        </a>
                        <a href="//www.instagram.com/djphan91/">
                                <div class="card__content--bullet">
                                        <div class="circle instagram">
                                                <img src ="src/img/instagram-logo-white.png">
                                        </div>
                                        <div class="card__content--bullet-text">Instagram</div>
                                </div>
                        </a>
                        <div class="card__content--text">
                                Feel free to also share this QR code to the page if you want to refer me:
                        </div>
                        <div class="card__content--QR">
                                <img src="src/img/static_qr_code_without_logo.jpg">
                        </div>
                </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="container__content--footer-bottom">
        Created by Daniel Phan [c] 2018
    </div>
</div>