<div class="container">        
    <div class="container__content desktop-only">
        <h1>My Work History</h1>
        Here is a graphical timeline of my work
    </div>
    <div class="container__content">
        <div class="container__content--job">
        <h2>Investopedia - Software Web Developer</h2>
        </div>
        <div class="container__content--job">
            <h2>Bioware - Systems and UX Quality Analyst</h2>
        </div>
        <div>
                <h2>University of Alberta - Summer Research Student </h2>
        </div>
        
    </div>
</div>
