.section {
  background: white;
  padding: 0;
}

.brand-logo {
  margin: 0 0 0 15px;
}

.logo-start {
  width: 35px;
  margin: 0 10px;
}

img.responsive-img {
  border:8px outset #78909c;
  -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.about-me {
  padding: 60px 0;
}

.hide-mobile {
  display: inherit;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 800px) {
  .hide-mobile {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
