.parallax-container {
    height: 450px;
}

. parallaximg {
    height: auto;
    width: auto;
}

#centerbttn {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.altern li {
  padding: 1px;
}
