footer {
    color:white;
    background-color: var( --footer-base-color, darkslategray);

    text-align: center;
}

footer .container:nth-child(2) {
    background-color: var(--footer-secondry-base-color, slategray);
    justify-content: center;
}

footer .container__content:nth-child(2) {
    align-self: center;
}

.github img {
    padding: 4px 0 0 4px;
}

.linkedin img {
    padding: 10px 0 0 6px;
}

.angellist img,
.twitter img {
    height: 35px;
    padding: 7px 0 0 10px;
}

.twitter img {
    height: 35px;
    padding: 6px 0 0 6px;
}

.instagram img {
    height: 35px;
    padding: 6px 0 0 6px;
}

.card__content--QR {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card__content--QR img {
    height: 300px;
}

.container__content--footer-bottom {
    padding: 1rem 0;
}