.navbar {
    background-color: var(--nav-base-color, darkslategray);
}
.navbar a {
    color: white;
    text-decoration-line: none;
}

.navbar__link--left a::before {
    content: "djphan";
}

.navbar__link--left,
.navbar__link--right {
    width: 100%;
}

.navbar__link--right > a:hover {
    background-color: var(--nav-base-color-hover, grey);
}

.navbar__link--left a,
.navbar__link--right a {
    display: block;
    width: 100%;
    padding: 1rem;
}

.navbar__link--left {
    display: flex;
    
}

.navbar__link--left i {
    padding: 10px;
}

.navbar__link--right {
    display: none
}

.active {
    display: block !important;
}

@media only screen and (min-width: 725px) {
    .navbar__link--left,
    .navbar__link--right {
        display: flex;
        flex: 1 1 auto;
        width: auto;
    }

    .navbar__link--right {
        justify-content: space-between;
    }

    .navbar__link--left a,
    .navbar__link--right a {
        width: auto;
    }

    .navbar__link--left a::before {
        content: "Daniel Phan";
    }

    .navbar__link--left > a:hover {
        background-color: var(--nav-base-color-hover, grey);
    }

    .navbar__link--left i {
        display: none;
    }
}