:root {
    --nav-base-color: #00171F; 
    --nav-base-color-hover: #00A8E8;

    --circle: #003459;
    --circle-light-1: #007EA7;
    --circle-light-2: #00A8E8;

    --card-header-box-color: #00A8E8;

    --footer-base-color: #00171F;
    --footer-secondry-base-color: #003459;
    --footer-content-card-color: #00A8E8;

}